@font-face {
    font-family: "Helvetica-Medium";
    src: url("./fonts/helvetica-medium.woff2");
  }
  
@font-face {
    font-family: "Helvetica-Bold";
    src: url("./fonts/helvetica-bold.woff2");
  }